

fieldset{
  border:1px solid black;
  margin: 20px 0;
  padding: 30px;
}

legend{
      width: inherit; 
      padding: 0 20px;
      margin-bottom:0; 
      border-bottom:none; 

}
.form-inline .form-group{
  margin-bottom: 20px;
}

